<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<!-- السماح بكل HTTP Methods بدون قيود -->
				<add name="aspNetCore" path="*" verb="GET,POST,PUT,DELETE,OPTIONS" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="Script" />
			</handlers>

			<security>
				<requestFiltering>
					<!-- التأكد من أن IIS لا يمنع PUT -->
					<verbs applyToWebDAV="false">
						<add verb="GET" allowed="true"/>
						<add verb="POST" allowed="true"/>
						<add verb="PUT" allowed="true"/>
						<add verb="DELETE" allowed="true"/>
						<add verb="OPTIONS" allowed="true"/>
					</verbs>
				</requestFiltering>
			</security>

			<modules>
				<!-- تعطيل WebDAV لأنه يمنع PUT -->
				<remove name="WebDAVModule"/>
			</modules>

			<aspNetCore processPath="dotnet" arguments=".\MacquiresNAction.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>

<!--ProjectGuid: 210fd4d8-8560-6a71-cda0-4bb682ef7275-->